html, body {
  width: 350px;
  height: auto;
}

h4#tab-counter{
  margin:10px;
  font-weight: bold;
}

a {
  margin: 10px;
  display: inline-block;
}

.switch-tabs {
  padding-left: 10px;
}

.switch-tabs a {
  display: block;
}

.panel {
  margin: 5px;
}
